@font-face {
    font-family: "SF-Pro-Dispalay";
    src: url(../fonts/SFProDisplayRegular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

.app {
    line-height: 1.5;
    margin: 0 auto;
    position: relative;
    max-width: 390px;
    max-height: 500rem;
    background: linear-gradient(170deg, #2E3358, #1C1B33);
    color: #fff;
    padding: 25px;
}

.Command {
    font-family: SF-Pro-Dispalay;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background: linear-gradient(180deg, rgba(46, 51, 90, 0.5) 0%, rgba(28, 27, 51, 0.1) 100%),
                radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 99.59%);
    outline-style: solid; 
    border-radius: 10px; 
    border: 5px solid rgba(0, 0, 0);
}

.Command h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

.Command .Director,
.Command .student-one,
.Command .student-two,
.Command .student-three {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}

.Command .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;  
    margin: 10px 0;
    border: 2px solid;
    border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                         linear-gradient(45deg, rgba(255, 255, 255, 0), #ffffff);
    margin-right: 15px;
}

.Command .text {
    display: flex;
    flex-direction: column; 
}

.Command h3 {
    font-family: SF-Pro-Dispalay;
    margin: 5px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.2rem;
}

.Command p {
    font-family: SF-Pro-Dispalay;
    margin: 0;
    font-size: 14px;
    color: #ffffff85;
    font-weight: 300;
    font-size: 0.8rem;
}

.b {
    font-family: SF-Pro-Dispalay;
    color: #fff;
    font-size: 1rem;
}

.b h1 {
    font-family: SF-Pro-Dispalay;
    color: #fff;
    font-weight: 400;
}

.b h2 {
    font-family: SF-Pro-Dispalay;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    font-size: 1.4rem;
}

.heading {
    font-family: SF-Pro-Dispalay;
}

.heading h2 {
    font-weight: 200;
    margin-top: 40px;
}

.heading p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);  
    text-align: justify; 
    line-height: 1.6;
    margin: 10px 0; 
}

.plus {
    font-family: SF-Pro-Dispalay;
    font-weight: 200; 
    color: #ffffff;
}

.plus h2 {
    font-weight: 200; 
}

.plus-one,
.plus-two,
.plus-three {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}

.plus img {
    width: 2rem; 
    height: 40px;
    margin-right: 15px; 
    margin-bottom: 4.7rem;
}

.plus h3 {
    font-family: SF-Pro-Dispalay;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    color: #fff
}

.plus p {
    font-family: SF-Pro-Dispalay;
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0 0; 
    color: rgba(255, 255, 255, 0.6);
    text-align: justify; 
    line-height: 1.8;
    margin: 1px 0;
}

.text-content {
    display: flex;
    flex-direction: column; 
}




